[submodule "public"]
	path = public
	url = git@github.com:cryptodictionary/cryptodictionary.github.io.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:cryptodictionary/gohugo-theme-ananke.git
